.coustom_text {
    font-size: 35px !important;
}

.box_shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 80px 0;
}

.image_box {
    width: 18rem;
    height: 18rem;
    border-radius: 157px;
    overflow: hidden;
}

.image_box::after {
    content: "";
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: #f299c5;
    transform: translate(-129px, -61px);
    z-index: 1;
    border-radius: 100px;
}

.height_width {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: relative;
    z-index: 2;
}

.circle_box {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50px;
    background: #886cb6;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-62px, 1px);

}

// modal
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  box-shadow: none;
}


.form-group {
    margin-bottom: 14px;
}

form-control {
    height: 42px;
    padding: 0 12px;
    border: solid #C9C9C9;
    border-width: 1px;
    display: block;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.mfp-close-style .mfp-close {
    width: 44px;
    height: 44px;
    font-size: 40px;
    background-color: #EA583F;
    opacity: 1;
    color: #fff;
    top: -14px;
    right: -11px;
}

@media (max-width: 768px) {
  .projects__decor {
    .projects__i-lines-green {
      display: none;
    }
  }
}
