<div class="enquiry_section container" data-aos="zoom-in" data-aos-duration="1500">
    <section class="contact-address-area">
        <div class="container pt-md-5">
            <div class="sec-title-style1 text-center max-width">
                <div class="text d-flex align-items-center justify-content-center">
                    <div class="decor-left"><span></span></div>
                    <p class="coustom_text">Careers
                    </p>
                    <div class="decor-right"><span></span></div>
                </div>
            </div>
        </div>
        <div class="row mx-auto box_shadow px-3 py-4 mb-md-5">
            <div class="col-6 sec-title-style1 pb-3">
                <div class="bottom-text">
                    <p>Our Uniqueness lies in high levels of achievements in academic and extra-curricular
                        activities. In
                        every area of school life, we hopefully engage our students in the business of learning,
                        giving them
                        the opportunity to meet challenges and make their own discoveries successfully.
                    </p>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <img src="../../assets/images/careersImg.jpg" alt="">
            </div>
        </div>
    </section>
</div>