
header {
  .vision {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: auto;
    right: 80px;
    left: 0;
    bottom: 22px;
    z-index: -1;

    fa-icon {
      min-width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      padding: 0 15px;
      margin: 0;
    }

    fa-icon, p {
      border: 1px solid;
    }
  }

  a {
    cursor: pointer;
  }
}

/**** Media Query Styles Overrides ****/
@media (max-width: 1200px) {
  header {
    .vision {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  header {
    .vision {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      fa-icon {
        height: 26px;
      }
    }
  }
}

@media (min-width: 1366px) {
  header {
    .vision {
      flex-direction: column;

      fa-icon {
        height: 36px;
      }
    }
  }
}
