<header>
  <nav class="navbar navbar_Main navbar-expand-xl">
    <div class="container">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
        </span>
      </button>
      <!-- Links -->
      <div class="row">
        <div class="col-auto navbar_container">
          <a class="navbar-brand" routerLink="/">
            <img src="assets/icons/logo.svg" alt="Avatar Logo">
          </a>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <div class="row">
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="/">Home</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" href="#">About Us</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="admission">Admissions</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" href="#">Facilities</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="news">News Letters</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="gallery">Gallery</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="equiry">Enquiry</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="contact">Contacts</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                  routerLink="careers">Careers</a>
              </div>
              <div class="col link_parent topBotomBordersOut">
                <a class="nav_link text-truncate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                routerLink="students-corner">Students Corner</a>
              </div>
            </div>
          </div>
          <!-- <div class="ask_btn anim-btn ms-2">
            <button class="btn anim-btn__button text-truncate">
              ASK A QUESTION
            </button>
            <div class="anim-btn__overlay"></div>
          </div> -->
        </div>
      </div>
    </div>
  </nav>
</header>