<header>
  <nav class="navbar navbar_Main navbar-expand-xl">
    <div class="container">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
        </span>
      </button>
      <!-- Links -->
        <a class="navbar-brand" href="#">
          <img src="assets/icons/logo.svg" alt="Avatar Logo" style="width:108px;" class="rounded-pill">
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="AboutUS" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="admission" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Admissions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Facilities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="news" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">News Letters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="equiry" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Enquiry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="careers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="students-corner" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Students Corner</a>
            </li>
          </ul>
        </div>

        <div class="vision">
          <fa-icon icon="eye"></fa-icon>
          <p>ASK A QUESTION</p>
        </div>

    </div>
  </nav>
</header>
