<footer>
    <div class = "wrap mx-auto">
      <div class = "w-100 row align-items-center justify-content-lg-between">
          <div class = "col-auto col-sm col-lg-auto">
              <a class =  "d-inline-block footer__logo" href = "#">
                  <img src="assets/icons/logo.svg" alt="Avatar Logo" style="width:108px;" class="rounded-pill">

              </a>

          </div>
          <div class="col-auto d-none d-lg-block">
              <nav class = "nav-footer">
                  <ul class="nav-footer__list">
                      <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#">School</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#"> Projects</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#"> We</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#"> News</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#"> Gallery</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#"> Partners</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#"> Contacts</a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#" >
                  Committee for Education, Science and Youth Policy of the Volgograd Region
                    </a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#" >Administration of Volgograd
                  </a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#" >Ministry of Education of the Russian Federation </a>
                  </li>
                  <li class="nav-footer__item">
                      <a class = "nav-footer__link" href="#" >
                      Ministry of Science and Higher Education of the Russian Federation
                    </a>
                  </li>


                  </ul>
              </nav>
          </div>
          <div class="col-8 col-sm-5 col-lg-auto ml-auto ml-sm-0">

                  <p>
                    Volgograd, st. Tkacheva, d. 7
                    <br>
                    +7 (8442) 39-19-67
                    <br>
                    school_pokolenie@mail.ru
                  </p>
              <div class="d-none d-sm-block footer__created">
                  <a href="#" target="blank" title="go to the developer site">
                      <span class="magwai-link"></span>
                  </a>
              </div>
          </div>
          <div class="col-sm-auto text-center my-4 m-sm-0">
              <div class="b-soc">
                  <div class="flex-sm-column b-soc__inner">
                      <a class="b-soc__item b-soc__item--vk" href="#">
                          <svg role="img" width="1em" height="1em">
                              <use xlink:href="#si-soc-vk"> </use>
                              </svg>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-12 d-sm-none text-center">
              <div class="footer__created">

                      <a href="#" target="blank" title="go to the developer site">
                          <span class="magwai-link"></span>
                      </a>

              </div>
          </div>
      </div>
    </div>
</footer>
