<section class="section section--page projects overflow-hidden">
	<span class="projects__decor projects__decor--overflow">
		<i class="projects__i-sq-top aos-init aos-animate" data-aos="zoom-in" data-aos-delay="1000">
		</i>
		<i class="projects__i-sq-bot aos-init" data-aos="fade-up-right">
		</i>
	</span>
	<ul class="js-scene parallax-scene projects__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
		<li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.7px, 6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
			<i class="projects__i-dot-green aos-init aos-animate" data-aos="zoom-out" data-aos-delay="800">
			</i>
		</li>
		<li class="parallax-layer" data-depth="0.3" style="transform: translate3d(-41.1px, 18px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
			<i class="d-none d-md-block projects__i-dot-red aos-init aos-animate" data-aos="zoom-out" data-aos-delay="1200">
			</i>
		</li>
		<li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.7px, 6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
			<i class="projects__i-circle-green aos-init" data-aos="zoom-in" data-aos-delay="200">
			</i>
		</li>
	</ul>
	<span class="projects__decor">
		<i class="projects__i-lines-green aos-init aos-animate" data-aos="new-animation">
		</i>
		<i class="projects__i-triangle-yellow aos-init aos-animate" data-aos="fade-down-left" data-aos-delay="1700">
			<svg role="img" width="1em" height="1em">
				<use xlink:href="#si-traingle-hollow"></use>
			</svg>
		</i>
	</span>
	<div class="wrap position-relative">
		<h1 class="h1 mb-4 projects__title">Projects</h1>
		<!-- <div class="row mb-5">
			<div class="col-lg-8">
			</div>
		</div> -->
	<ul class="projects__list">
	  <li class="projects__item">
				<div class="item-projects">
					<div class="row">
						<div class="col-md-5 col-lg-6 item-projects__col-1">
							<a class="responsive-img item-projects__img-wrap aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
								<img class="lazyload" src="assets/images/studc1.jpg" alt="" data-object-fit="cover">
							</a>
						</div>
						<div class="col-md-7 col-lg-6 align-self-center align-self-lg-stretch item-projects__col-2">
							<div class="item-projects__content">
								<div class="mb-3 item-projects__title"><a href="/vnutrennie-proekty-shkoly/pokolenie-vybiraet-chtenie/">"Generation" chooses reading"</a>
								</div>
								<div class="mb-4 item-projects__text">
                  Since 2015, our school has been a regional branch of the Russian Reading Association (RACh).

                  This is a non-profit public organization that brings together reading enthusiasts and specialists in
                  various fields of knowledge: teachers and librarians, psychologists and sociologists of reading, journalists,
                  publishers, etc.<br>
                </div>
								<a class="item-projects__more-link" href="/vnutrennie-proekty-shkoly/pokolenie-vybiraet-chtenie/">To learn more</a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="projects__item">
				<div class="item-projects">
					<div class="row">
						<div class="col-md-5 col-lg-6 item-projects__col-1">
							<a class="responsive-img item-projects__img-wrap aos-init aos-animate" href="/vnutrennie-proekty-shkoly/pisma-direktora/" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
								<img class="lazyload" src="assets/images/studc2.jpg" alt="" data-object-fit="cover">
							</a>
						</div>
						<div class="col-md-7 col-lg-6 align-self-center align-self-lg-stretch item-projects__col-2">
							<div class="item-projects__content">
								<div class="mb-3 item-projects__title"><a href="/vnutrennie-proekty-shkoly/pisma-direktora/">Director's letters</a>
								</div>
								<div class="mb-4 item-projects__text">
                  This project is another attempt to establish a stable and convenient communication channel.

                This is a regular monthly mailing list in which Mikhail Artyomovich highlights issues that are
                important for parents and the school administration.
                Feedback and constructive suggestions are always welcome!</div>
								<a class="item-projects__more-link" href="/vnutrennie-proekty-shkoly/pisma-direktora/">To learn more</a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="projects__item">
				<div class="item-projects">
					<div class="row">
						<div class="col-md-5 col-lg-6 item-projects__col-1">
							<a class="responsive-img item-projects__img-wrap aos-init" href="/vnutrennie-proekty-shkoly/proforietatsionnaya-rabota/" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
								<img class="lazyload" src="assets/images/studc3.jpg" alt="" data-object-fit="cover">
							</a>
						</div>
						<div class="col-md-7 col-lg-6 align-self-center align-self-lg-stretch item-projects__col-2">
							<div class="item-projects__content">
								<div class="mb-3 item-projects__title"><a href="/vnutrennie-proekty-shkoly/proforietatsionnaya-rabota/">Career guidance project "School University"</a>
								</div>
								<div class="mb-4 item-projects__text">
                  Usually, when they hear about "career guidance work", they remember countless tests and conclusions
                  like "you are a human sign system."

                  We decided that we should not limit ourselves to tests alone (although they are also important!)
                  and improved the career guidance system for our high school students.</div>
								<a class="item-projects__more-link" href="/vnutrennie-proekty-shkoly/proforietatsionnaya-rabota/">To learn more</a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="projects__item">
				<div class="item-projects">
					<div class="row">
						<div class="col-md-5 col-lg-6 item-projects__col-1">
							<a class="responsive-img item-projects__img-wrap aos-init" href="/vnutrennie-proekty-shkoly/kind-chool/" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
								<img class="lazyload" src="assets/images/studc4.jpg" alt="" data-object-fit="cover">
							</a>
						</div>
						<div class="col-md-7 col-lg-6 align-self-center align-self-lg-stretch item-projects__col-2">
							<div class="item-projects__content">
								<div class="mb-3 item-projects__title"><a href="/vnutrennie-proekty-shkoly/kind-chool/">School of Good Deeds</a>
								</div>
								<div class="mb-4 item-projects__text">The School of Good Deeds is a charitable project of the "Generation" school, which makes it possible to educate children in humanity and a good attitude towards the world.</div>
								<a class="item-projects__more-link" href="/vnutrennie-proekty-shkoly/kind-chool/">To learn more</a>
							</div>
						</div>
					</div>
				</div>
			</li>
	</ul>

</div>
</section>
