<div class="enquiry_section container" data-aos="zoom-in" data-aos-duration="1500">
    <section class="contact-address-area">
        <div class="container pt-md-5">
            <div class="sec-title-style1 text-center max-width">
                <div class="text d-flex align-items-center justify-content-center">
                    <div class="decor-left"><span></span></div>
                    <p class="coustom_text">Student Corner
                    </p>
                    <div class="decor-right"><span></span></div>
                </div>
            </div>
        </div>
        <div class="row mx-auto box_shadow px-3 py-4 mb-md-5">
            <div class="col-12 sec-title-style1 pb-3">
                <div class="bottom-text">
                    <p class="fw-bold">Editorial Team</p>
                    <p class="fw-bold my-2">Editor in Chief- T.G.Nandini</p>
                    <p class="fw-bold">Sub-Editor- Palak Sharma </p>
                    <p class="fw-bold my-2">Student Editor- Stuti</p>
                    <p class="fw-bold">Student Editor- Geya</p>
                    <p class="fw-bold my-2">Student Editor- Geya</p>
                    <p class="fw-bold">Editorial</p>
                    <p class="fw-bold my-2">Right from the fragile minds </p>

                    <p>With the advent of social media our way of expressing has taken a completely different channel.
                        At the time when I was a student, I remember our limited but channelized source of expressing
                        and presenting our view points. Children of today are definitely way smarter as they belong to
                        the new information age. They have an easy access to a whole lot of information as data is
                        available to them at their fingertips. We are completely fenced by technology as it has become
                        an integral part of human existence. Being tech-savvy is the need of the hour because it puts us
                        ahead in the rat race. So where is the rat race leading us to and where are we heading towards?
                        With an access to enormous data, is the children’s want to express their views evading or is
                        there a whole new language of communication that is evolving? These are the questions which
                        constantly haunt my mind. The joy of expressing simple things in simple forms seems to have lost
                        its ground while on the other hand I feel that simplicity is what is getting more and more
                        complicated to cope up with.
                    </p>
                    <p class="my-2">
                        Running our thoughts through these aspects, Voxpop International School has decided to create a
                        platform for the students to encourage them not only to express their unbiased views but also to
                        boost their creative side of the brain. The school is going to provide a space in the school
                        website which can nurture, cherish and raise the creative side of the students where they can
                        post a piece of their expression either in the form of writing or as a piece of art. This space
                        will be strictly dedicated to the students of class1 to X and this is going to be called as “The
                        Student’s Corner.”
                    </p>
                    <p class="my-2">As a new initiative this offers ample opportunities and encouragement for students
                        to express
                        either in the form of poetry, essay, story or a sketch and painting. After all the essence of
                        life lies in the realm of expression.</p>
                    <p>
                        Editor In Chief
                    </p>
                    <p class="my-2">
                        Nandini
                    </p>
                    <h6 class="mt-5">In Bed at Night!</h6>
                    <h6 class="my-3">By Varun, IV Orchids</h6>
                    <p >When I am on my bed at night,</p>
                    <p class="my-2">Between the blinds I see</p>
                    <p>The dearest little twinkling star,</p>
                    <p class="my-2">Who, comes to peep at me.</p>
                    <p>I know he stays there all the night</p>
                    <p class="my-2">But at the break of the day</p>
                    <p>I cannot see him anywhere.</p>
                    <p class="my-2">Where does he go away?</p>
                    <p>I wonder if the reason’s this-</p>
                    <p class="my-2">Perhaps he goes from me</p>
                    <p>To peep at other little boys</p>
                    <p class="my-2">On lands across the sea.</p>

                    <h6 class="mt-5">Cricketejo</h6>
                    <h6 class="my-3">By Harshavardhan X class</h6>
                    <p >Cricket is called a Gentleman’s game</p>
                    <p class="my-2">Everyone can earn a good name</p>
                    <p>Tejo is crazy at taking wicket</p>
                    <p class="my-2">Being cool is actual cricket</p>
                    <p>Tejo is an incredible player</p>
                    <p class="my-2">He is a six slayer</p>
                    <p>He is unstoppable when he has a bat</p>
                    <p class="my-2">When he is on the field he says howzat!</p>
                    <p>He is a specialist at taking leg break</p>
                    <p class="my-2">And now it’s time for a drink’s break</p>
                    <p>There must have been a rivalry between triple alliance and triple entene</p>
                    <p class="my-2">Our Tejovivek is an honest captain</p>
                    <p>Our Tejovivek is an honest captain</p>
                    <p class="my-2">When it’s time he will show his vengeance</p>
                    <p>After all it’s his arrogance.</p>
                    <p class="my-2">He shows a lot of courtesy</p>
                    <p>Maybe his leadership will be a legacy.</p>
                    <p class="my-2">It is true that he says howzzat….</p>
                    <p>When it comes to education he says what is that?</p>
                    <p class="my-2">This is never going to end</p>
                    <p>Tejovivek is a true friend.</p>
                </div>
            </div>
        </div>
    </section>
</div>