<!-- <div class="enquiry_section container" data-aos="zoom-in" data-aos-duration="1500">
    <section class="contact-address-area">
        <div class="container pt-md-5">
            <div class="sec-title-style1 text-center max-width">
                <div class="title">Enquiry</div>
                <div class="text">
                    <div class="decor-left"><span></span></div>
                    <p>OUR GUIDANCE – FOR YOUR CHILDREN EDUCATION
                    </p>
                    <div class="decor-right"><span></span></div>
                </div>
                <div class="bottom-text">
                    <p>OUR EDUCATION SYSTEM
                    </p>
                </div>
            </div>
        </div>
        <div class="sec-title-style1 pb-3">
            <div class="title">WE’D LOVE TO HEAR FROM YOU
            </div>
            <div class="bottom-text">
                <p>Our Uniqueness lies in high levels of achievements in academic and extra-curricular activities. In
                    every area of school life, we hopefully engage our students in the business of learning, giving them
                    the opportunity to meet challenges and make their own discoveries successfully.
                </p>
            </div>
        </div>
    </section>
    <section class="contact-info-area mb-md-5">
        <div class="container p-0">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="sec-title-style1 float-left">
                                    <div class="title">Contact Form 2
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php"
                                method="post">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="input-box">
                                                    <input type="text" name="form_name" value="" placeholder="Name"
                                                        required="">
                                                </div>
                                                <div class="input-box">
                                                    <input type="text" name="form_phone" value="" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="input-box">
                                                    <input type="email" name="form_email" value="" placeholder="Email"
                                                        required="">
                                                </div>
                                                <div class="input-box">
                                                    <input type="text" name="form_website" value=""
                                                        placeholder="Website">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="input-box">
                                                    <input type="text" name="form_subject" value=""
                                                        placeholder="Subject">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="input-box">
                                            <textarea name="form_message" placeholder="Your Message..."
                                                required=""></textarea>
                                        </div>
                                        <div class="button-box">
                                            <input id="form_botcheck" name="form_botcheck" class="form-control"
                                                type="hidden" value="">
                                            <button type="submit" data-loading-text="Please wait...">Send Message<span
                                                    class="flaticon-next"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div> -->


<div class="main_container" data-aos="zoom-in" data-aos-duration="1500">
  <section class="section__one  py-5">
      <div class="container">
          <div class="row mx-auto py-2">
              <div class="col-md-6 col-12 text-center">
                  <img class="image__div width" src="../../assets/images/dummyimge.jpg" alt="">
              </div>
              <div
                  class="col-12 pt-3 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                  <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                  <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                      dicta
                      libero incidunt repellat.</p>
                  <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciend.</p>
                  <div class="btn-div text-md-start text-center">
                      <button class="border-dark  py-2 px-4 bg-transparent rounded-pill">
                          learn more
                      </button>
                  </div>
              </div>
          </div>

      </div>
  </section>

  <section class="section__two bg-white py-5">
      <div class="container">
          <div class="row mx-auto pt-3">
              <div
                  class="col-12 pt-3 order-2 order-md-1 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                  <div class="btn-div mb-3 order-3 order-md-1 ">
                      <button class="border-dark  py-1 px-3 bg-transparent rounded-pill">
                          FREE PRIVATE SCHOOL
                      </button>
                  </div>
                  <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                  <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                      dicta
                      libero incidunt repellat.</p>
                  <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciend.</p>
              </div>
              <div class="col-md-6 col-12 order-1 order-md-2 text-center">
                  <img class="image__div width" src="../../assets/images/dummyimge.jpg" alt="">
              </div>
          </div>
      </div>
  </section>


  <section class="section__three pb-5">
      <div class="container">
          <div class="row mx-auto pt-3">
              <div
                  class="col-12 pt-3 order-2 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                  <div class="btn-div mb-3  order-3 order-md-1">
                      <button class="border-dark  py-1 px-3 bg-transparent rounded-pill">
                          FREE PRIVATE SCHOOL
                      </button>
                  </div>
                  <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                  <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                      dicta
                      libero incidunt repellat.</p>
                  <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciend.</p>
              </div>
              <div class="col-md-6 order-1 col-12 text-center">
                  <img class="image__div width" src="../../assets/images/dummyimge.jpg" alt="">
              </div>
          </div>

      </div>
  </section>
</div>