<div class="about-school">
    <h1>About Our School</h1>
    <p>Welcome to XYZ School, where we strive to provide the best education for our students. Our dedicated teachers and staff work hard to create a challenging and engaging learning environment.</p>
    <div class="message-from-head" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out">
      <h2>Message from the Head of School</h2>
      <p>Dear Parents and Students,</p>
      <p>At XYZ School, we believe in the power of education to change lives. Our goal is to prepare our students for success in the 21st century by fostering their creativity, critical thinking, and problem-solving skills.</p>
      <p>Thank you for choosing XYZ School. We look forward to working with you to give your child the best education possible.</p>
      <p>Sincerely,</p>
      <p>John Smith</p>
      <p>Head of School</p>
      <div class="image-container">
        <img src="assets/images/sec4-slide4.jpg" alt="image description">
      </div>

    </div>

    <div class="contact py-5">
      <h1 class="contact-title">Contact Us</h1>
      <p>
        Email: info@xyschool.com
        <br>
        Phone: 555-555-5555
      </p>
    </div>

  </div>
