<div class="main_container" data-aos="zoom-in" data-aos-duration="1500">
  <ul class="js-scene parallax-scene albums__decor aos-init aos-animate" data-relative-input="true" data-aos="zoom-out" data-aos-delay="600" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
    <li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-21.3px, 23.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
      <i class="albums__i-dot-green"></i>
    </li>
    <li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-21.3px, 23.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
      <i class="albums__i-dot-purple"></i>
    </li>
    <li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-21.3px, 23.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
      <i class="albums__i-dot-orange aos-init" data-aos="zoom-in" data-aos-delay="900"></i>
    </li>
    <li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-21.3px, 23.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
      <i class="albums__i-circle-red aos-init" data-aos="zoom-in" data-aos-delay="500"></i>
    </li>
  </ul>

  <div class="wrap position-relative">
    <div class="content-style mt-3">
      <h1 class="h1">About school</h1>
    </div>
  </div>

  <div class="advantages advantages--offset">
		<div class="wrap">
			<ul class="row advantages__list">
									<li class="col-sm-6 col-lg-3 text-center advantages__item aos-init aos-animate" data-aos="zoom-in" data-aos-delay="000">
						<div class="advantages__img-wrap">
							<img src="assets/icons/about-us1.svg" alt="">
						</div>
						<div class="advantages__title">
							Individual <br> approach
            </div>
					</li>
									<li class="col-sm-6 col-lg-3 text-center advantages__item aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
						<div class="advantages__img-wrap">
							<img src="assets/icons/about-us2.svg" alt="">
						</div>
						<div class="advantages__title">
							Team of <br>professionals
            </div>
					</li>
									<li class="col-sm-6 col-lg-3 text-center advantages__item aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
						<div class="advantages__img-wrap">
							<img src="assets/icons/about-us3.svg" alt="">
						</div>
						<div class="advantages__title">
							Development of creative <br>potential
            </div>
					</li>
									<li class="col-sm-6 col-lg-3 text-center advantages__item aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
						<div class="advantages__img-wrap">
							<img src="assets/icons/about-us4.svg" alt="">
						</div>
						<div class="advantages__title">
							Friendly and <br>comfortable environment
            </div>
					</li>
				</ul>
		</div>
	</div>

  <section class="section__one  py-5">
      <div class="container">
          <div class="row mx-auto py-2">
              <div class="col-md-6 col-12 text-center">
                  <img class="image__div width" src="../../assets/images/section3-video.jpg" alt="">
              </div>
              <div
                  class="col-12 pt-3 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                  <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                  <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                      dicta
                      libero incidunt repellat.</p>
                  <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciend.</p>
                  <div class="btn-div text-md-start text-center">
                      <button class="border-dark  py-2 px-4 bg-transparent rounded-pill">
                          learn more
                      </button>
                  </div>
              </div>
          </div>

      </div>
  </section>

  <section class="section__two bg-white py-5">
      <div class="container">
          <div class="row mx-auto pt-3">
              <div
                  class="col-12 pt-3 order-2 order-md-1 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                  <div class="btn-div mb-3 order-3 order-md-1 ">
                      <button class="border-dark  py-1 px-3 bg-transparent rounded-pill">
                          FREE PRIVATE SCHOOL
                      </button>
                  </div>
                  <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                  <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                      dicta
                      libero incidunt repellat.</p>
                  <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciend.</p>
              </div>
              <div class="col-md-6 col-12 order-1 order-md-2 text-center">
                  <img class="image__div width" src="../../assets/images/section3-video.jpg" alt="">
              </div>
          </div>
      </div>
  </section>


  <section class="section__three pb-5">
      <div class="container">
          <div class="row mx-auto pt-3">
              <div
                  class="col-12 pt-3 order-2 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                  <div class="btn-div mb-3  order-3 order-md-1">
                      <button class="border-dark  py-1 px-3 bg-transparent rounded-pill">
                          FREE PRIVATE SCHOOL
                      </button>
                  </div>
                  <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                  <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                      dicta
                      libero incidunt repellat.</p>
                  <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Reiciendis error
                      officiis quos odio, amet
                      excepturi? Error, nihil reiciend.</p>
              </div>
              <div class="col-md-6 order-1 col-12 text-center">
                  <img class="image__div width" src="../../assets/images/section3-video.jpg" alt="">
              </div>
          </div>

      </div>
  </section>
</div>
