<div class="container">
  <div class="py-5 title" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <h1>Facilities</h1>
    <p>
      The new purpose-built campus for primary, secondary and senior secondary boys,
      features a number of facilities designed to meet their specific requirements.
    </p>
  </div>

  <div class="row" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="main-content">
        <h2 class="text-center">General Facilities</h2>
        <h3>The School Library</h3>
        <p>The spacious school library is stocked with periodicals, newspapers and an impressive index of titles,
          covering both fiction and non-fiction. These have been selected for the informative and educational value,
          catering to all age groups. Children are encouraged to make full use of these facilities in order to foster
          a healthy reading habit and satiate the inquisitive mind. The library is managed by highly qualified library personnel.
          In addition, the library also features an integrated audio-visual suite with internet facility to complement
          the research activities.</p>
        <h3>Multi-purpose Hall</h3>
        <p>The school boasts a multi-purpose hall, used for all major school functions. The multi-purpose hall
          provides an ideal space for school assemblies, events, productions, minor games, and inter-school activities.</p>
        <h3>Art Room</h3>
        <p>The school possesses a specialized creative Art Room with internet access where students are
          encouraged to explore their creative talents and showcase their creative expressions.</p>
        <h3>Music Room</h3>
        <p>The well-equipped music room provides a variety of instruments including guitars,
          keyboards and&nbsp; drum sets for students inclined to music.</p>
        <h3>Cafeteria</h3>
        <p>The school cafeteria offers a range of healthy snacks and beverages served throughout the day.</p>
        <h3>Books and Uniforms Store</h3>
        <p>The school houses a book store, which stocks prescribed textbooks, notebooks, stationery, and a range of
          miscellaneous items at a special price for the convenience of students. The Uniform store stocks prescribed
          school uniform and in order to maintain uniformity, parents are encouraged to make use of this facility.</p>
        <h3>Medicare</h3>
        <p>The school has a health unit, manned by 2 full-time doctors and 4 qualified nurses.
          Students undergo regular medical check-ups and a health record is maintained for each child.
          While routine first aid is administered by the unit, any emergency is referred to the nearby Hospital.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="main-content">
        <h2 class="text-center">Science and Technology</h2>
        <p>Our modern Science labs are fully equipped to meet the needs of our Secondary and Senior Secondary students.</p>
        <h3 class="text-start">ICT Laboratories</h3>
        <p class="text-start">Information and Communication Technology (ICT) :The School has 2 ICT labs
          and more than 5 trolleys which consist of 36 laptops/iPad for students. All computers are equipped
          with multimedia kits and interconnected nodes with internet facilities. Technology is used to make
          teaching and learning meaningful and fun. ICT is well integrated into all subject areas.
          New technology tools like Interactive LED boards have been installed in all classrooms and
          learning areas.&nbsp;ICT laboratories which are equipped with computers and a number of peripherals
          so that each student has a machine to himself. The laboratories are used to support the teaching of ICT,
           beginning as early as Grade 1. To keep our students abreast with the world around them,
           the school has inter-connected nodes with ISDN lines for Internet browsing.</p>
        <h3 class="text-start">Interactive LED</h3>
        <p class="text-start">The interactive flat panel Clevertouch LED 75” displays have been newly
          installed in the classrooms. It is a leading educational interactive flat panel which is a
          highly effective collaborative device to facilitate classroom teaching and digital learning.</p>
        <h3 class="text-start">Audio-Visual Facilities</h3>
        <p class="text-start">We also have a wealth of audio-visual learning facilities, including smart boards,
          LCD projectors, televisions, DVD players, overhead projectors, and stereo systems.</p>
        <h2 class="text-center">Sports</h2>
        <p>Beyond the development of skills, our sporting facilities support students in their
          goals of leading healthy and active lifestyles.</p>
        <ul>
            <li class="text-start">Indoor sports facilities</li>
            <li class="text-start">Badminton and Basketball provision</li>
            <li class="text-start">Tennis courts</li>
            <li class="text-start">Standard Soccer field</li>
        </ul>
        <p>To encourage student interest in programmes of physical education, a range of sports facilities
          are available that include indoor sports facilities, badminton and basketball provision, Cricket nets,
          tennis courts and a standard soccer field.</p>
      </div>
    </div>
  </div>

  <div class="gallery-cont" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <h1 class="text-center mb-3">Gallery of our Facilities</h1>
    <div class="row">
      <div class="col-12 col-sm-2 col-md-4 col-lg-4 p-0 gal-img-cont">
        <img class="img-fluid" src="assets/images/fac-gal-1.jpg" alt="">
      </div>
      <div class="col-12 col-sm-2 col-md-4 col-lg-4 p-0 gal-img-cont">
        <img class="img-fluid" src="assets/images/fac-gal-2.jpg" alt="">
      </div>
      <div class="col-12 col-sm-2 col-md-4 col-lg-4 p-0 gal-img-cont">
        <img class="img-fluid" src="assets/images/fac-gal-3.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2 col-md-4 col-lg-4 p-0 gal-img-cont">
        <img class="img-fluid" src="assets/images/fac-gal-4.jpg" alt="">
      </div>
      <div class="col-12 col-sm-2 col-md-4 col-lg-4 p-0 gal-img-cont">
        <img class="img-fluid" src="assets/images/fac-gal-5.jpg" alt="">
      </div>
      <div class="col-12 col-sm-2 col-md-4 col-lg-4 p-0 gal-img-cont">
        <img class="img-fluid" src="assets/images/fac-gal-6.jpg" alt="">
      </div>
    </div>
  </div>
</div>
