<div class="bg_color" data-aos="zoom-in" data-aos-duration="1500">
  <div class="container">
      <div class="row pb-5">
          <div class="col-12 my-md-5 px-0">
              <h3 class="heading_Txt d-flex align-items-center justify-content-center ">Photo gallery</h3>
          </div>
          <div class="col-12">
              <div class="row mx-auto">
                  <div class="col px-0 ">
                      <div class="row mx-auto">
                          <div class="col-md-12 col-6 images_MainBox mb-3 ">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col p-0 ">
                      <div class="row mx-auto">
                          <div class="col-md-12 col-6 mb-3 images_MainBox custom_heigth">
                              <div class="row  heigth position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width heigth" src="assets/images/gallery2.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery2.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery2.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 py-5 images_MainBox Instagram_box">
                              <div class="row position-relative">
                                  <div class="col-12 pb-md-3 d-flex align-items-center justify-content-center ">
                                      <i class="bi Instagram_icon bi-instagram"></i>
                                  </div>
                                  <div class="text_div d-none d-md-block text-center">
                                      <p class="m-0   d-flex align-items-center justify-content-center first_txt">
                                          School Instagram page</p>
                                      <p class="m-0 py-3 d-flex align-items-center justify-content-center secnd_txt">
                                          Features original content and lots of photos! </p>
                                      <button class="btn  go_btn btn-primary">GO</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col px-0 ">
                      <div class="row mx-auto">
                          <div class="col-md-12 col-6 mb-3 images_MainBox ">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 col-6 mb-3 images_MainBox">
                              <div class="row position-relative">
                                  <div class="col-12 zoom_out">
                                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                                  </div>
                                  <div
                                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                                      <div
                                          class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                                          <div
                                              class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                                              <i class="bi eyes_icon bi-eye"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
