<div class="main__div">
  <div class="container ">
    <div class="row mb-5 articles__particle">
      <div class="col-12 mb-3">
        <h1 class="news__font">News
        </h1>
        <p class="news__txt">We try to keep our visitors up to date with all the most interesting things that happen in
          our school. This section <br> contains all the latest and hottest news!</p>
        <a class="Link__tag text-decoration-none" href="#">School Menu</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col">
            <div class="img__div">
              <img class="inner__img" src="assets/images/news1.png" alt="">
            </div>
          </div>
          <div class="col">
            <div class="img__div">
              <img class="inner__img" src="assets/images/news2.jpg" alt="">
            </div>
          </div>
          <div class="col">
            <div class="img__div">
              <img class="inner__img" src="assets/images/news3.png" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col news__content my-5 bg-white">
            <div class="date__div">
              <p class="text-center">26 December 2022</p>
            </div>
            <div class="content__text">
              <p class="text-center">Конкурс для старшеклассников <br> "Российская Школа Фармацевтов"</p>
            </div>
            <div class="link text-center">
              <a class="more__link  text-decoration-none " href="#">More</a>
            </div>
          </div>
          <div class="col news__content mx-3 my-5 bg-white">
            <div class="date__div">
              <p class="text-center">26 December 2022</p>
            </div>
            <div class="content__text">
              <p class="text-center">Конкурс для старшеклассников <br> "Российская Школа Фармацевтов"</p>
            </div>
            <div class="link text-center">
              <a class="more__link text-decoration-none" href="#">More</a>
            </div>
          </div>
          <div class="col news__content my-5 bg-white">
            <div class="date__div">
              <p class="text-center">26 December 2022</p>
            </div>
            <div class="content__text">
              <p class="text-center">Конкурс для старшеклассников <br> "Российская Школа Фармацевтов"</p>
            </div>
            <div class="link text-center">
              <a class="more__link text-decoration-none" href="#">More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col">
            <div class="img__div">
              <img class="inner__img" src="assets/images/news4.jpg" alt="">
            </div>
          </div>
          <div class="col">
            <div class="img__div">
              <img class="inner__img"  src="assets/images/news5.jpg" alt="">
            </div>
          </div>
          <div class="col">
            <div class="img__div">
              <img class="inner__img" src="assets/images/news6.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col news__content my-5 bg-white">
            <div class="date__div">
              <p class="text-center">26 December 2022</p>
            </div>
            <div class="content__text">
              <p class="text-center">Конкурс для старшеклассников <br> "Российская Школа Фармацевтов"</p>
            </div>
            <div class="link text-center">
              <a class="more__link  text-decoration-none " href="#">More</a>
            </div>
          </div>
          <div class="col news__content mx-3 my-5 bg-white">
            <div class="date__div">
              <p class="text-center">26 December 2022</p>
            </div>
            <div class="content__text">
              <p class="text-center">Конкурс для старшеклассников <br> "Российская Школа Фармацевтов"</p>
            </div>
            <div class="link text-center">
              <a class="more__link text-decoration-none" href="#">More</a>
            </div>
          </div>
          <div class="col news__content my-5 bg-white">
            <div class="date__div">
              <p class="text-center">26 December 2022</p>
            </div>
            <div class="content__text">
              <p class="text-center">Конкурс для старшеклассников <br> "Российская Школа Фармацевтов"</p>
            </div>
            <div class="link text-center">
              <a class="more__link text-decoration-none" href="#">More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
