<div class="body_content">
  <!-- ************************************************first-block*********************************************************** -->
  <div class="container wrap position-relative">
    <h1 class="h1 mb-4"><span class="school__title-text" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">Поступление в<br> школу</span></h1>
    <div class="content-style">
      <p>Прием учеников в детский сад и школу осуществляется на конкурсной основе по результатам входной диагностики – собеседования с психологом и учителем начальных классов на интеллектуальный потенциал и готовность к обучению.</p>
      <p>Перед поступлением в начальную школу с ребенком проводится собеседование. Мы не будем придирчиво тестировать его. Мы просто поговорим. О том, чем ему нравится заниматься, что увлекает его, о друзьях, любимых занятиях и прочих занимательных вещах. Позднее мы предложим несколько тестов, заботясь при этом, чтобы малышу было интересно с ними работать. Ребятам постарше и тесты достанутся посложнее, но и здесь мы позаботимся о том, чтобы в случае неудачи, ребенок не почувствовал бы себя расстроенным.</p>
      <p>Возможно, нам понадобится несколько встреч, чтобы достоверно составить впечатление об уровне подготовки ребенка. Наша школа работает по достаточно сложной программе, и, принимая ребенка во второй или более старший класс, нам важно убедиться в том, что он сможет комфортно там себя чувствовать. Частенько, если уровень подготовки ребенка не соответствует уровню класса, мы предложим программу дополнительных занятий, которые помогут ребенку преодолеть разрыв.</p>
    </div>
   </div>

   <div class="container-fluid stages">
    <div class="wrap position-relative">
      <ol class="stages__list">
                <li class="stages__item">
            <div class="stages__item-num aos-init aos-animate" data-aos="fade-down"><span>Шаг</span></div>
            <div class="stages__item-content aos-init aos-animate" data-aos="fade-in" data-aos-delay="500" data-aos-easing="ease-in-sine">
              <div class="h2 stages__item-title">Собеседование или тестирование</div>
              </div>
          </li>
                  <li class="stages__item">
            <div class="stages__item-num aos-init aos-animate" data-aos="fade-down"><span>Шаг</span></div>
            <div class="stages__item-content aos-init aos-animate" data-aos="fade-in" data-aos-delay="500" data-aos-easing="ease-in-sine">
              <div class="h2 stages__item-title">Обсуждение результатов</div>
              <div class="stages__item-text">
                <p>Педагоги сообщают результаты тестирования заместителям директора, они обсуждаются и анализируются. Если все испытания пройдены успешно, руководство рекомендует к заключению договора.</p>						</div>
            </div>
          </li>
          <li class="stages__item">
            <div class="stages__item-num aos-init aos-animate" data-aos="fade-down"><span>Шаг</span></div>
            <div class="stages__item-content aos-init aos-animate" data-aos="fade-in" data-aos-delay="500" data-aos-easing="ease-in-sine">
              <div class="h2 stages__item-title">Беседа родителей с директором школы</div>
              <div class="stages__item-text">
                <p>Тем, кто собирается в первый класс, нужно пройти собеседование с логопедом, психологом, учителем начальных классов.</p>
                  <p>Ученики начальной школы (2-4 классы) проходят собеседования с психологом и логопедом, а также тестирование с учителем начальных классов и преподавателем английского языка.</p>
                  <p>Ученики средней и старшей школы проходят тестирование по русскому языку, математике и английскому языку. Выпускники также тестируются по выбранному для сдачи предмету.</p>						</div>
            </div>
          </li>
                <li class="stages__item">
            <div class="stages__item-num aos-init aos-animate" data-aos="fade-down"><span>Шаг</span></div>
            <div class="stages__item-content aos-init aos-animate" data-aos="fade-in" data-aos-delay="500" data-aos-easing="ease-in-sine">
              <div class="h2 stages__item-title">Заключение договора</div>
              <div class="stages__item-text">
                <p>Педагоги сообщают результаты тестирования заместителям директора, они обсуждаются и анализируются. Если все испытания пройдены успешно, руководство рекомендует к заключению договора.</p>						</div>
            </div>
          </li>

            </ol>
    </div>
   </div>


</div>
