<section>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1 class="swiper-title">School of your time</h1>
        <button type="button" class="btn btn-primary swiper-btn">
          MORE
        </button>
      </div>
      <div class="col-8">
        <div class="swiper-container">
          <div class="rhombus-inner">
            <div class="image-wrapper resp-img">
              <img src="assets/images/swiper1.jpg" alt="">
            </div>
            <a class="rhomb-text">
              <div class="rhomb-logo">
                <img src="assets/images/swiper-logo.png" alt="">
              </div>
            </a>
            <div class="rhombus-image">
              <div class="rhomb-image-wrapper resp-img">
                <img src="assets/images/swiper-rhomb1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <p>
        Volgograd, st. Tkacheva, d. 7
        <br>
        +7 (8442) 39-19-67
        <br>
        school_pokolenie@mail.ru
      </p>
    </div>
  </div>
</section>
