<section class="home-sec1">
  <div class="container">
    <swiper #swiper [config]="config">
      <ng-template swiperSlide>
        <div class="row" data-aos="zoom-in-left" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <div class="col-lg-8 col-md-12 col-sm-12 order-lg-1">
            <div class="swiper-container">
              <div class="rhombus-inner">
                <div class="image-wrapper resp-img">
                  <img src="assets/images/swiper1.jpg" alt="">
                </div>
                <a class="rhomb-text">
                  <div class="rhomb-logo">
                    <img src="assets/images/swiper-logo.png" alt="">
                  </div>
                </a>
                <div class="rhombus-image">
                  <div class="rhomb-image-wrapper resp-img">
                    <img src="assets/images/swiper-rhomb1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 txt-center">
            <h1 class="swiper-title" data-aos="fade-down-right" data-aos-duration="1000" data-aos-easing="ease-in-out">
              School of your time
            </h1>
            <button type="button" class="btn btn-primary swipera-btn" data-aos="fade-up-right" data-aos-duration="1000"
              data-aos-easing="ease-in-out">
              MORE
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="row">
          <div class="col-lg-8 col-md-12 order-lg-1">
            <div class="swiper-container">
              <div class="rhombus-inner">
                <div class="image-wrapper resp-img">
                  <img src="assets/images/swiper2.jpg" alt="">
                </div>
                <a class="rhomb-text">
                  <div class="rhomb-logo">
                    <img src="assets/images/swiper-logo.png" alt="">
                  </div>
                </a>
                <div class="rhombus-image">
                  <div class="rhomb-image-wrapper resp-img">
                    <img src="assets/images/swiper-rhomb2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 txt-center">
            <h1 class="swiper-title" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
              A school you don't want to leave
            </h1>
            <button type="button" class="btn btn-primary swiper-btn">
              MORE
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="row">
          <div class="col-lg-8 col-md-12 order-lg-1">
            <div class="swiper-container">
              <div class="rhombus-inner">
                <div class="image-wrapper resp-img">
                  <img src="assets/images/swiper3.png" alt="">
                </div>
                <a class="rhomb-text">
                  <div class="rhomb-logo">
                    <img src="assets/images/swiper-logo.png" alt="">
                  </div>
                </a>
                <div class="rhombus-image">
                  <div class="rhomb-image-wrapper resp-img">
                    <img src="assets/images/swiper-rhomb3.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 txt-center">
            <h1 class="swiper-title" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out">
              School "Generation" at home
            </h1>
            <button type="button" class="btn btn-primary swiper-btn">
              MORE
            </button>
          </div>
        </div>
      </ng-template>
    </swiper>


    <div class="row">
      <div class="col d-sm-none d-md-block">
        <p>
          Volgograd, st. Tkacheva, d. 7
          <br>
          +7 (8442) 39-19-67
          <br>
          school_pokolenie@mail.ru
        </p>
      </div>

      <div class="col-md-auto text-center">
        <button class="swiper-prev btn" type="button" (click)="slidePrev()">
          <fa-icon [icon]="'arrow-left'"></fa-icon>
          <span>Previous</span>
        </button>
        <button class="swiper-next btn" type="button" (click)="slideNext()">
          <span>Next</span>
          <fa-icon [icon]="'arrow-right'"></fa-icon>
        </button>
      </div>

    </div>
  </div>
</section>

<section class="section steps">
  <div class="steps__bg">

  </div>

  <div class="wrap steps__inner">
    <div class="row text-center text-md-left">
      <div class="col-lg-5">
        <div class="h1 steps__title">
          <h1>We care</h1>
        </div>
      </div>
      <div class="col-md-9 ml-md-auto ml-lg-0 col-lg-7">
        <div class="steps__text">
          <p class="text-start">
            Our school gives its pupils the opportunity not only to develop themselves
            intellectually, aesthetically and physically, but also to find their own direction in life,
            to receive a quality education.
          </p>
        </div>
      </div>
    </div>
    <ul class="row justify-content-center steps__list">
      <li class="col-6 col-md-3 steps__item aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center item-step">
          <i class="item-step__icon">
            <img src="assets/icons/section2-num-step1.svg" alt="">
          </i>
          <div class="d-flex align-items-center justify-content-center item-step__title">
            <i class="item-step__num">01</i>
            <a href="#">Intelligence</a>
          </div>
        </div>
      </li>
      <li class="col-6 col-md-3 steps__item aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="text-center item-step">
          <i class="item-step__icon">
            <img src="assets/icons/section2-num-step2.svg" alt="">
          </i>
          <div class="d-flex align-items-center justify-content-center item-step__title">
            <i class="item-step__num">02</i>
            <a href="#">Creativity</a>
          </div>
        </div>
      </li>
      <li class="col-6 col-md-3 steps__item aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <div class="text-center item-step">
          <i class="item-step__icon">
            <img src="assets/icons/section2-num-step3.svg" alt="">
          </i>
          <div class="d-flex align-items-center justify-content-center item-step__title">
            <i class="item-step__num">03</i>
            <a href="#">Health</a>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <a class="js-scroll-to steps__scroll-down aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="2500"
    data-scroll-to=".steps" data-aos-offset="0">
    <fa-icon [className]="'section2-top-arrow'" [icon]="'arrow-down'"></fa-icon>
  </a>


</section>

<!-- section-3 -->
<section class="section b-mission">
  <div class="wrap position-relative">
    <div class="row align-items-start justify-content-between">
      <div class="col-lg-6 col-xl-4 mr-xl-auto">
        <h2 class="h1 aos-init aos-animate" data-aos="fade-up">Our mission</h2>
        <div class="content-style aos-init aos-animate" data-aos="fade-up">
          <p>Find an individual approach to each child in accordance with their personal needs and their level of
            knowledge, cultural characteristics and interests of their families.</p>
          <br>
        </div>
        <div class="b-mission__btn-wrap">
          <a class="btn btn--blue btn--with-line aos-init aos-animate" data-aos="new-animation" href="/about/"
            data-aos-delay="1100">
            <button type="button" class="btn btn-primary swiper-btn" data-aos="fade-up-right" data-aos-duration="1000"
              data-aos-easing="ease-in-out">
              MORE
            </button>
          </a>
        </div>
        <a class="responsive-img js-image-popup d-block b-mission__img-wrap aos-init aos-animate"
          href="assets/images/section3-img.jpg" data-aos="fade-up-right" data-aos-delay="600">
          <img src="assets/images/section3-img.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6 b-mission__video">
        <a class="responsive-img js-popup-youtube b-video b-video--dimmed aos-init aos-animate"
          href="https://www.youtube.com/watch?v=BD_bN7uZ75k" data-aos="fade-up" data-aos-delay="100">
          <img class="lazyload" data-src="assets/images/section3-video.jpg" alt=""
            src="assets/images/section3-video.jpg">
          <fa-icon [style]="{'z-index': '1'}" [className]="'b-video__play-btn'" [icon]="'play'"></fa-icon>
        </a>
      </div>
    </div>
  </div>

</section>


<!-- section -4 -->

<section class="section b-projects">

  <div class="wrap">
    <h2 class="h1 mb-5 text-center aos-init aos-animate" data-aos="fade-up">Educational complex</h2>

    <div class="b-projects__slider-wrap aos-init aos-animate" data-aos="new-animation">
      <swiper #swiper2 [config]="config2" class="sec4-swiper">
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title">
                Preparation for the Olympics
              </div>

              <p class="mb-4">
                <a class="b-projects__more-link"
                  href="/projects/obrazovatelnyy-tsentr-maksimum-sovremennaya-podgotovka-k-oge-ege/">
                  To learn more
                </a>
              </p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap position-relative">
                <img class="swiper-lazy" src="assets/images/sec4-slide1.jpg" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title">
                Modern High School
              </div>

              <p class="mb-4">
                <a class="b-projects__more-link"
                  href="/projects/obrazovatelnyy-tsentr-maksimum-sovremennaya-podgotovka-k-oge-ege/">
                  To learn more
                </a>
              </p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap position-relative">
                <img class="swiper-lazy" src="assets/images/sec4-slide2.jpg" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title">
                Psychological center "GENERATION"
              </div>

              <p class="mb-4">
                <a class="b-projects__more-link"
                  href="/projects/obrazovatelnyy-tsentr-maksimum-sovremennaya-podgotovka-k-oge-ege/">
                  To learn more
                </a>
              </p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap position-relative">
                <img class="swiper-lazy" src="assets/images/sec4-slide3.jpg" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title">
                «Time2Teach»
              </div>

              <p class="mb-4">
                <a class="b-projects__more-link"
                  href="/projects/obrazovatelnyy-tsentr-maksimum-sovremennaya-podgotovka-k-oge-ege/">
                  To learn more
                </a>
              </p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap position-relative">
                <img class="swiper-lazy" src="assets/images/sec4-slide4.jpg" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title">
                Endowment Fund Legacy Endowment
              </div>

              <p class="mb-4">
                <a class="b-projects__more-link"
                  href="/projects/obrazovatelnyy-tsentr-maksimum-sovremennaya-podgotovka-k-oge-ege/">
                  To learn more
                </a>
              </p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap position-relative">
                <img class="swiper-lazy" src="assets/images/sec4-slide5.jpg" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title">
                Educational center "Maximum"
              </div>

              <p class="mb-4">
                <a class="b-projects__more-link"
                  href="/projects/obrazovatelnyy-tsentr-maksimum-sovremennaya-podgotovka-k-oge-ege/">
                  To learn more
                </a>
              </p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap position-relative">
                <img class="swiper-lazy" src="assets/images/sec4-slide6.jpg" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>

  </div>

</section>

<!-- section 5 -->
<section class="section b-news">
  <div class="b-news__bg">

    <i class="b-news__particle b-news__particle--sq-black aos-init aos-animate" data-aos="zoom-in"> </i>
  </div>

  <ul class="js-scene parallax-scene b-news__decor" data-relative-input="true"
    style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">

    <li class="parallax-layer" data-depth="0.1"
      style="transform: translate3d(3.2px, 2px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">

      <i class="b-news__particle b-news__particle--dot-green aos-init aos-animate" data-aos="zoom-in"></i>
    </li>

    <li class="parallax-layer" data-depth="0.3"
      style="transform: translate3d(9.5px, 5.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
      <i class="b-news__particle b-news__particle--dot-purple aos-init" data-aos="zoom-in" data-aos-delay="100"></i>
    </li>
  </ul>

  <span class="b-news__decor">
    <i class="b-news__particle b-news__particle--triangle-red aos-init aos-animate" data-aos="fade-left"
      data-aos-delay="500"></i>
    <i class="b-news__particle b-news__particle--line-orange aos-init aos-animate" data-aos="new-animation"></i>
    <i class="d-none d-md-block b-news__particle b-news__particle--line-yellow aos-init" data-aos="new-animation"></i>

  </span>
  <div class="wrap position-relative">
    <h2 class="h1 text-center b-news__title aos-init aos-animate" data-aos="fade-in" data-aos-delay="700">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">News</font>
      </font>
    </h2>

    <ul class="row b-news__list">
      <li class="col-sm-6 col-lg-4 b-news__item aos-init aos-animate" data-aos="zoom-out-up" data-aos-delay="100">
        <a class="d-flex flex-column item-news" href="#">
          <div class="responsive-img flex-grow-1 item-news__img-wrap">
            <img class="lazyload" src="assets/images/news1.png" alt data-object-fit="cover">
          </div>

          <div class="text-center flex-shrink-0 item-news__content">
            <time class="item-news__date" datetime>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">26 December 2022</font>
              </font>
            </time>
            <div class="dot d-flex align-items-center justify-content-center item-news__title is-truncated"
              style="overflow-wrap: break-word;">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">High school competition...</font>
              </font>
            </div>
            <div class="d-none d-sm-block item-news__descr"></div>
            <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">

              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">More</font>
              </font>
            </div>
          </div>
        </a>
      </li>

      <li class="col-sm-6 col-lg-4 b-news__item aos-init aos-animate" data-aos="zoom-out-up" data-aos-delay="100">
        <a class="d-flex flex-column item-news" href="#">
          <div class="responsive-img flex-grow-1 item-news__img-wrap">
            <img class="lazyload" src="assets/images/news2.jpg" alt data-object-fit="cover">
          </div>

          <div class="text-center flex-shrink-0 item-news__content">
            <time class="item-news__date" datetime>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">27 December 2022</font>
              </font>
            </time>
            <div class="dot d-flex align-items-center justify-content-center item-news__title is-truncated"
              style="overflow-wrap: break-word;">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Happy birthday!</font>
              </font>
            </div>
            <div class="d-none d-sm-block item-news__descr"></div>
            <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">

              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">More</font>
              </font>
            </div>
          </div>
        </a>
      </li>


      <li class="col-sm-6 col-lg-4 b-news__item aos-init aos-animate" data-aos="zoom-out-up" data-aos-delay="100">
        <a class="d-flex flex-column item-news" href="#">
          <div class="responsive-img flex-grow-1 item-news__img-wrap">
            <img class="lazyload" src="assets/images/news3.png" alt data-object-fit="cover">
          </div>

          <div class="text-center flex-shrink-0 item-news__content">
            <time class="item-news__date" datetime>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">25 October 2022</font>
              </font>
            </time>
            <div class="dot d-flex align-items-center justify-content-center item-news__title is-truncated"
              style="overflow-wrap: break-word;">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">What will I be when I grow up?</font>
              </font>
            </div>
            <div class="d-none d-sm-block item-news__descr"></div>
            <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">

              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">More</font>
              </font>
            </div>
          </div>
        </a>
      </li>




    </ul>



    <!-- <div class="text-center"> -->
    <!-- <a  class="btn btn--blue btn--with-line b-news__show-all aos-init"  href=""  data-aos-delay="600">

    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">All news</font>
      </font>
  </a> -->
    <!-- <button type="button" class="btn btn-primary swiper-btn"  aos-init data-aos="fade-up-right"  data-aos-delay="600"  data-aos-duration="1000" data-aos-easing="ease-in-out"> -->
    <!-- All news -->
    <!-- </button> -->
    <!-- </div> -->
    <div class="col-lg-4 col-md-12 col-sm-12 txt-center">

      <button type="button" class="btna btn-primary swipera-btn" data-aos="fade-up-right" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
        all News
      </button>
    </div>

  </div>


</section>



<!-- section gallery  -->
<section class="section b-gallery p-0" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out">

  <div class="bg_color">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12 my-md-5 px-0">
          <h3 class="heading_Txt d-flex align-items-center justify-content-center ">Photo gallery</h3>
        </div>
        <div class="col-12">
          <div class="row mx-auto">
            <div class="col px-0 ">
              <div class="row mx-auto">
                <div class="col-md-12 col-6 images_MainBox mb-3 ">
                  <div class="row position-relative">
                    <div class="col-12 zoom_out">
                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                    </div>
                    <div
                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                      <div class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                        <div class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                          <i class="bi eyes_icon bi-eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 images_MainBox mb-3 ">
                  <div class="row position-relative">
                    <div class="col-12 zoom_out">
                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                    </div>
                    <div
                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                      <div class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                        <div class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                          <i class="bi eyes_icon bi-eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col p-0 ">
              <div class="row mx-auto">
                <div class="col-md-12 col-6 mb-3 images_MainBox custom_heigth">
                  <div class="row  heigth position-relative">
                    <div class="col-12 zoom_out">
                      <img class="width heigth" src="assets/images/gallery2.jpg" alt="">
                    </div>
                    <div
                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                      <div class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                        <div class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                          <i class="bi eyes_icon bi-eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 py-5 images_MainBox Instagram_box">
                  <div class="row position-relative">
                    <div class="col-12 pb-md-3 d-flex align-items-center justify-content-center ">
                      <i class="bi Instagram_icon bi-instagram"></i>
                    </div>
                    <div class="text_div  d-md-block text-center">
                      <p class="m-0   d-flex align-items-center justify-content-center first_txt">
                        School Instagram page</p>
                      <p class="m-0 py-3 d-flex align-items-center justify-content-center secnd_txt">
                        Features original content and lots of photos! </p>
                      <button class="btn  go_btn btn-primary">GO</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col px-0 ">
              <div class="row mx-auto">
                <div class="col-md-12 col-6 mb-3 images_MainBox ">
                  <div class="row position-relative">
                    <div class="col-12 zoom_out">
                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                    </div>
                    <div
                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                      <div class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                        <div class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                          <i class="bi eyes_icon bi-eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 mb-3 images_MainBox ">
                  <div class="row position-relative">
                    <div class="col-12 zoom_out">
                      <img class="width" src="assets/images/gallery1.jpg" alt="">
                    </div>
                    <div
                      class="col-12 d-fle align-items-center justify-content-center eyes_parentDiv position-absolute top-0 bottom-0">
                      <div class="circle_div d-flex align-items-center justify-content-center rounded-pill">
                        <div class="icon_div d-flex align-items-center justify-content-center rounded-pill">
                          <i class="bi eyes_icon bi-eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</section>

<!-- ***last-section*** -->
<div class="carousel_section py-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel " data-interval="false" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row mx-auto">
                <div class="col-12 mb-5">
                  <div class="row">
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg2.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg3.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg2.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg3.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row mx-auto">
                <div class="col-12 mb-5">
                  <div class="row">
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg2.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg3.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg2.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg3.png" alt="">
                    </div>
                    <div class="col">
                      <img class="company_Img" src="../../assets/images/carouselImg1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn_parent">
            <button class="carousel-control-prev prev_btn" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next next_btn" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ***unused code here*** -->
<!-- <section class="section b-partners">

  <div class="b-partners__bg">

    <div class="wrap position-relative">

      <div class="row">
        <div class="col-md-9 col-lg-10">
          <div class="swiper-container b-partners__slider swiper-container-horizontal swiper-container-multirow">
            <div class="swiper-wrapper" style="width: 770px; transform: translate3d(0px, 0px, 0px);"
              data-swiper-column="0" data-swiper-row="0" style="order: 0; width: 226.5px; margin-right: 30px;">
              <a href="">

                <img src="" alt="association" title="Association">
              </a>
            </div>
            <div class="swiper-slide b-partners__slide swiper-slide-next" data-swiper-column="0" data-swiper-row="1"
              style="-webkit-box-ordinal-group: 3; order: 3; margin-top: 30px; width: 226.5px; margin-right: 30px;">

              <a href="https://rybakovfond.ru/">
                <img src="/upload/iblock/70c/rybakov.png" alt="Rybakov" title="Rybakov">
              </a>
            </div>


            <div class="swiper-slide b-partners__slide" data-swiper-column="0" data-swiper-row="2"
              style="-webkit-box-ordinal-group: 6; order: 6; width: 226.5px; margin-top: 30px; margin-right: 30px;">
              <a href="http://asnoor.ru/">

                <img src="/upload/iblock/fba/asnoor.png" alt="Asnoor" title="Asnoor">

              </a>
            </div>

            <div class="swiper-slide b-partners__slide" data-swiper-column="1" data-swiper-row="0"
              style="-webkit-box-ordinal-group: 1; order: 1; margin-top: 20px; width: 226.5px; margin-right: 30px;">
              <a href="http://www.rusreadorg.ru/">

                <img src="/upload/iblock/3aa/rach.png" alt="Russian Reading Association"
                  title="Russian Reading Association">
              </a>
            </div>

            <div class="swiper-slide b-partners__slide" data-swiper-column="1" data-swiper-row="1"
              style="-webkit-box-ordinal-group: 4; order: 4; width: 226.5px; margin-top: 30px; margin-right: 30px;">
              <a href="https://hse.ru">
                <img src="/upload/iblock/8a6/hse.png" alt="HSE" title="HSE">

              </a>

            </div>

            <div class="swiper-slide b-partners__slide" data-swiper-column="1" data-swiper-row="2"
              style="-webkit-box-ordinal-group: 7; order: 7; margin-top: 30px; width: 226.5px; margin-right: 30px;">
              <a href="https://mgimo.ru/">
                <img src="/upload/iblock/5a1/mgimo.png" alt="MGIMO" title="MGIMO">

              </a>

            </div>

            <div class="swiper-slide b-partners__slide" data-swiper-column="2" data-swiper-row="0"
              style="-webkit-box-ordinal-group: 2; order: 2; width: 226.5px; margin-right: 30px;">

              <a href="http://misis.ru/">

                <img src="/upload/iblock/008/misis.png" alt="misis" title="misis">
              </a>
            </div>

            <div class="swiper-slide b-partners__slide" data-swiper-column="2" data-swiper-row="1"
              style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 30px; width: 226.5px; margin-right: 30px;">
              <a href="http://www.rudn.ru/">
                <img src="/upload/iblock/dcd/rudn.png" alt="RUDN University" title="RUDN University">

              </a>

            </div>

            <div class="swiper-slide b-partners__slide" data-swiper-column="2" data-swiper-row="2"
              style="-webkit-box-ordinal-group: 8; order: 8; width: 226.5px; margin-top: 30px; margin-right: 30px;">
              <a href="https://www.cambridgeenglish.org/">

                <img src="/upload/iblock/4d2/camb.png" alt="Cambridge" title="Cambridge">
              </a>

            </div>


          </div>

          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
      </div>

      <div class="col-md-3 col-lg-2 d-flex align-items-end justify-content-end">
        <div class="d-flex align-items-center">
          <button class="b-partners__prev swiper-button-disabled" type="button" tabindex="0" role="button"
            aria-label="Previous slide" aria-disabled="true">
            <i class="fa fa-arrow-left"></i>

          </button>

          <span class="b-partners__pagination swiper-pagination-fraction">
            <span class="swiper-pagination-current">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">1/2</font>
              </font>
            </span>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"> _ </font>
            </font>
            <span class="swiper-pagination-total">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">_</font>
              </font>

            </span>

          </span>
          <button class="b-partners__next" type="button" tabindex="0" role="button" aria-label="Next slide"
            aria-disabled="false">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ul class="js-scene parallax-scene b-partners__decor" data-relative-input="true"
    style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">

    <li class="parallax-layer" data-depth="0.1"
      style="transform: translate3d(-8.8px, 27.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">

      <i class="b-partners__particle b-partners__particle--dot-purple aos-init aos-animate" data-aos="zoom-in"></i>
    </li>
    <li class="parallax-layer" data-depth="0.3"
      style="transform: translate3d(-26.3px, 83.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
      <i class="b-partners__particle b-partners__particle--circle-green aos-init aos-animate" data-aos="zoom-in"></i>
    </li>


  </ul>
  <span class="b-partners__decor">
    <i class="b-partners__particle b-partners__particle--line-purple aos-init" data-aos="new-animation"></i>
  </span>

</section> -->