.container {
  .txt-center {
    text-align: center;
  }

  .swiper-title {
    margin: 80px 60px 60px 0;
  }

  .swiper-btn {
    min-width: 40%;
  }

  .swiper-btn::after {
    content: '';
    position: relative;
    left: 110%;
    top: -10px;
    right: 0;
    bottom: 0;
    display: block;
    margin: -4px 0 0 -7px;
    height: 8px;
    width: 37px;
    background-color: #FFD100;
  }

  .swiper-container {
    font-size: 100px;

    .rhombus-inner {
      position: relative;
      width: 7em;
      padding: 0.48em 0;
      padding-left: 3.05em;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;

      .image-wrapper::before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
      }

      .image-wrapper {
        position: relative;
        overflow: hidden;
      }

      .resp-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.4s;
      }

      .resp-img img:hover {
        transform: scale(1.1);
        transition: all 0.4s;
      }

      .rhomb-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0.48em;
        width: 3.94em;
        height: 1.99em;
        padding: 0 1em 0.6em;
        text-align: center;
        cursor: pointer;

        .rhomb-logo {
          position: relative;
          max-width: 90%;

          .img {
            display: block;
            max-width: 100%;
          }
        }
      }

      .rhomb-text::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1.99em 1.97em 0 1.97em;
        border-color: #FFD100 transparent transparent transparent;
      }

      .rhombus-image {
        position: absolute;
        left: 2.44em;
        top: -0.15em;
        width: 3.68em;
        height: 3.68em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        overflow: hidden;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        border: 0.12em solid #FCFCFC;

        .rhomb-image-wrapper {
          background-color: #725EA6;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
          display: block;
          width: 145%;
          height: 145%;
        }
      }

    }
  }

  fa-icon {
    color: #EA583F;
  }

  .swiper-prev {
    fa-icon {
      margin-right: 8px;
    }
  }

  .swiper-next {
    fa-icon {
      margin-left: 8px;
    }
  }
}

/**** Media Query Styles Overrides ****/
@media (max-width: 1200px) {
  .container {
    .swiper-title {
      font-size: 50px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .swiper-title {
      font-size: 60px;
    }
  }
}

/********* For Screens <= 992px ********/
@media (max-width: 993px) {
  .container {
    .swiper-btn::after {
      left: 105%;
    }

    .swiper-title {
      margin: 80px 60px 40px 0;
    }

    .swiper-btn {
      margin-bottom: 16px;
    }
  }
}

/******* For Screens <= 768px *********/
@media (max-width: 768px) {
  .container {
    .swiper-title {
      margin: 80px auto 40px;
      font-size: 40px;
    }
  }
}

/******* For Screens <= 565px *********/
@media (max-width: 575px) {
  .container .swiper-container {
    font-size: 80px;
  }
}

@media (max-width: 530px) {
  .container {
    .swiper-container {
      font-size: 60px;
    }

    .swiper-title {
      font-size: 30px;
    }
  }
}

@media (max-width: 430px) {
  .container {
    .swiper-container {
      font-size: 50px;
    }

    .swiper-title {
      font-size: 30px;
    }
}

  // section 2

}.steps__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FFD100;
}

.steps {
    padding: 110px 0 90px;
}
.steps {
  position: relative;
  padding: 60px 0;
}
.section {
  padding: 60px 0;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.steps__particle--lines {
  margin-left: 270px;
}


.steps__particle--lines {
    margin-left: 270px;
}
.steps__particle--lines {
    bottom: -50px;
    margin-left: -80px;
    transform-origin: left;
}
.steps__particle--lines {
  bottom: 0;
  margin-left: -100px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.steps__particle {
  display: block;
  position: absolute;
  left: 50%;
}
.steps__inner {
  position: relative;
  z-index: 1;
}

.wrap {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1190px;
}
.wrap-site {
  min-height: 100%;
  min-width: 320px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.text-md-left {
  text-align: left !important;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, .h1 {
  font-size: 55px;
}
.ml-lg-0, .mx-lg-0 {
  margin-left: 0 !important;
}
.ml-md-auto, .mx-md-auto {
  margin-left: auto !important;
}

.steps__text {
  max-width: none;
}
.steps__text {
  color: #fff;
  max-width: 360px;
  margin: 0 auto;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}


.steps__list {
    margin-top: 50px;
}

ul, ol, li, dl, dt, dd, p {
    margin: 0;
    padding: 0;
}

.item-step__icon {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-step__title {
  position: relative;
  height: 104px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;

  a {
    color: #FFFFFF;
    cursor: pointer;
  }
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}


.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.steps__bg:before {
  bottom: 0;
  left: 50%;
  margin-left: -72px;
  width: 100%;
  background-color: #725EA6;
}
.steps__bg:before, .steps__bg:after {
  content: '';
  position: absolute;
  top: 0;
}
.steps__bg:after {
  left: 50%;
  margin-left: 0;
  margin-top: -72px;
  width: 2000px;
  height: 2000px;
  background-color: #725EA6;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.steps__bg:before, .steps__bg:after {
    content: '';
    position: absolute;
    top: 0;
}
img, svg, video {
  vertical-align: middle;
}
img {
  vertical-align: middle;
  border-style: none;
}
.item-step__icon img {
  max-height: 100%;
}
.steps__scroll-down:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 72px 75px 72px;
  border-color: transparent transparent #725EA6 transparent;
}

element.style {
  vertical-align: inherit;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.item-step__num {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 104px;
  opacity: 0.17;
  font-size: 90px;
  font-weight: 500;
  font-style: normal;
}
.text-center {
  text-align: center !important;
}
.steps__item {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
.abc{
  vertical-align: inherit
}
.steps__scroll-down i {
  position: relative;
  margin-top: 34px;
}
.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.fa, .fas, .far, .fal, .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.steps__scroll-down {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -72px;
  width: 144px;
  height: 75px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
i {
  font-style: italic;
}

ul, ol, li, dl, dt, dd, p {
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.fa-arrow-down:before {
  content: "\f063";
}

.section2-top-arrow {
  position: relative;
  top: 32px;
}

.item-step__icon img {
  max-height: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

// section 3
.b-mission {
  position: relative;
  padding-top: 110px;
}
.section {
  padding: 60px 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.d-none {
  display: none !important;
}
ul, ol, li, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}
ol, ul, dl {
  margin-top: 0;
}
.parallax-layer {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  list-style: none;
}
.b-mission__particle--dot-orange {
  top: 130px;
  margin-left: 150px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F38901;
}
.b-mission__particle {
  position: absolute;
  left: 50%;
}
.b-mission__particle--circle-green {
  top: 120px;
  margin-left: 320px;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  border: 8px solid #B7CD1A;
}
.d-none {
    display: none !important;
}
.b-mission__particle--triangle-red {
  bottom: 29px;
  margin-left: -356px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 0 0;
  border-color: #EA583F transparent transparent transparent;
}
.wrap {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.position-relative {
  position: relative !important;
}
.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
h1, .h1, h2, .h2, h3, .h3 {
  letter-spacing: -0.015em;
  font-weight: 700;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 0.5rem;
  line-height: 1.05;
}
.b-mission__btn-wrap {
  margin-top: 35px;
}
.btn--blue {
  background: #00A0E3;
  color: #fff;
}

/**** Media Query Styles Overrides ****/
@media (min-width: 768px) {
  .steps__text {
    max-width: none;
  }
}


/********** Section 3  **********/
.b-mission__img-wrap {
  z-index: 1;
  border: 9px solid #FCFCFC;
  width: 270px;
  margin: 25px auto 0;
  overflow: hidden;
}

.b-mission__img-wrap:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.b-video {
  background: #C6C6C6;
  display: block;
  height: 100%;
  min-height: 280px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .b-mission__img-wrap {
    border-width: 14px;
    width: 308px;
    position: absolute;
    right: 0;
    bottom: -110px;
  }
}

@media (min-width: 992px) {
  .b-mission__img-wrap {
    right: -60px;
    bottom: -120px;
  }
}

@media (min-width: 1200px) {
  .b-mission__img-wrap {
    bottom: -48px;
    left: 34%;
    right: auto;
  }
}

.responsive-img:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 66.207%;
}

.responsive-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-video--dimmed:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.18);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.b-video__play-btn {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  color: #fff;
  border-radius: 50%;
  font-size: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 7px solid #fff;
}

.b-video__play-btn:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  background-color: #EA583F;
  z-index: -1;
}


// section-4
.b-projects {
  position: relative;
  padding: 55px 0 130px;
  /* max-height: 768px; */
}
.section {
  padding: 60px 0;
}

.sec4-swiper {
  max-height: 768px;
}


.b-projects__particle--dot-orange {
  top: 100px;
  margin-left: -350px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F38901;

}

h1, .h1 {
  font-size: 35px;
}
.b-projects__slider-wrap {
  position: relative;
}


.b-projects__sub-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 25px;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.b-projects__more-link {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #EA583F;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}
ul, ol, li, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}
.b-projects__links li {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  cursor: pointer;
}


.b-projects__links li.active {
    color: #00A0E3;
}


.responsive-img>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img[data-object-fit="cover"] {
  -o-object-fit: cover;
  object-fit: cover;
}
img {
  vertical-align: middle;
  border-style: none;
}
.b-projects__sub-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 25px;
}
h1, .h1, h2, .h2, h3, .h3 {
  letter-spacing: -0.015em;
  font-weight: 700;
  font-size: 35px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 0.5rem;
  line-height: 1.05;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


.responsive-img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img[data-object-fit="cover"] {
    -o-object-fit: cover;
    object-fit: cover;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.b-projects__dots {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 240px;
}
.b-projects__dots li {
  list-style: none;
  padding: 6px 0;
  cursor: pointer;
}
.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.b-projects__triangle-icon svg {
  display: block;
  stroke: #65B337;
}
.b-projects__triangle-icon {
  font-size: 126px;
  width: 1em;
  height: 1em;
  margin: -80px 20px 0 -10px;
  position: relative;
  z-index: 1;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.b-projects__prev, .b-projects__next {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: #EA583F;
}
.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.fa, .fas, .far, .fal, .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.b-projects__prev, .b-projects__next {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: #EA583F;
}
.mt-3, .my-3 {
  margin-top: 1rem !important;
}
.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.btn--with-line {
  position: relative;
}
.btn--blue {
  background: #00A0E3;
  color: #fff;
}

.btn{
    cursor: pointer;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
